.account-whole {
  min-height: 100vh;
  padding: 10px 20px;
  background: linear-gradient(
    to top,
    #000000 50%,
    #1f3a5f 60%,
    #2874a6 80%,
    #d6eaf8 100%
  );
}

.brand-name {
  cursor: pointer;
}

#My-account {
  font-family: "Playfair Display", serif;
}

.logo-img {
  cursor: pointer;
  margin-bottom: 10px;
}

.account-container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, sans-serif;
}

.account-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.account-tabs button {
  flex: 1;
  padding: 12px 0;
  border: none;
  border-radius: 12px;
  background: #ddd;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.account-tabs button.active-tab {
  background: #2c5364;
  color: white;
  transform: translateY(-2px);
}

.account-tabs button:hover {
  background: #145c8c;
  color: white;
}

.profile-tab,
.security-tab {
  padding: 20px;
  background: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
}

.profile-tab p,
.security-tab p {
  margin: 10px 0;
  font-size: 16px;
}

.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-box {
  background: #29596d;
  padding: 28px;
  color: white;
  border-radius: 14px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  animation: popup 0.25s ease;
  text-align: center;
}

@keyframes popup {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.edit-box h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.edit-box input {
  width: 90%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  margin-top: 10px;
}

.edit-box input:focus {
  border-color: #2ecc71;
  box-shadow: 0 0 4px rgba(46, 204, 113, 0.4);
}

.edit-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.edit-buttons button:first-child {
  flex: 1;
  background: #2ecc71;
  border: none;
  color: black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.edit-buttons button:first-child:hover {
  background: #27ae60;
}

.edit-buttons button:last-child {
  flex: 1;
  background: #e0e0e0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.edit-buttons button:last-child:hover {
  background: #cfcfcf;
}

.editable-field {
  transition: all 0.2s ease;
}

.editable-field:hover {
  cursor: pointer;
  color: #377792;
  text-shadow: 0 0 6px rgba(46, 204, 113, 0.6);
}

.disabled-field {
  cursor: not-allowed;
  opacity: 0.8;
}
