.main-container {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    to top,
    #000000 30%,
    #1ca3ec 60%,
    #40e0d0 80%,
    #a0f0d0 100%
  );
  padding-bottom: 40px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: white;
  margin: 5px auto;
  width: 95%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.418);
}

.search-bar {
  width: 40%;
  padding: 12px 15px;
  border-radius: 15px;
  border: 1.5.5px solid #000000;
}

.icons button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #1ca3ec;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icons button:hover {
  background: #1b8fce;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.559);
}

.icons button:active {
  transform: translateY(0px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.category-section {
  margin-top: 40px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.category-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.brand-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}

.logo-img {
  height: 45px;
  object-fit: contain;
}

.brand-name {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  color: #000000;
  transition: 0.2s;
}

.brand:hover .brand-name {
  transform: scale(1.05);
}
