* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  background-color: #1ca3ec;
  overflow-x: hidden;
}

.App {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1ca3ec;
}
